/***** BASE STYLES *****/

body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}



/***** HEADER *****/

header h1 {
    font-size: 30px;
    font-weight: 700;
    float: left;
    line-height: 23px;
    padding: 10px 10px;
    text-transform: uppercase;
}

header h1 span {
    color: #77a466;
}

header img {
    border-bottom: 4px solid #77a466;
    border-top: 4px solid #77a466;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


nav {
    padding: 15px 10px;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #77a466;
    font-size: 40px;
    font-weight: 700;
    line-height: 23px;
    padding-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

/***** TOP-SECTION *****/

.top-section .full-width{
    padding: 10px;
}

.top-section h2 {
    color: #77a466;
    line-height: 50px;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 50px;
}

.top-section p {
    line-height: 50px;
    font-size: 50px;
    margin: 40px 50px;
}

/***** BOTTOM-SECTION *****/

.bottom-section .bottom-wrap {
    border-top: 1px solid #dedbdc;
}

.section-two, .section-three {
    padding: 20px 50px;
}

.section-two {
    border-right: 1px solid #dedbdc;
    border-left: 1px solid #dedbdc;
}

.section-one {
    padding: 20px 50px;
}

ul#menu {
    padding-left: 0;
    margin: 0 0 16px 0;
}

#menu li {
    color: #77a466;
    font-size: 50px;
    line-height: 50px;
    list-style: none;
    margin: 20px;
    display: flex;
  }

h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

#reviews, #contact {
    font-size: 50px;
    line-height: 60px;
    margin: 20px;
}

/*****Footer*****/

footer .full-width {
    border-top: 1px solid #dedbdc;
}

footer h2{
    font-size: 40px;
    line-height: 40px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

footer h2 span{
    color: #77a466;
    font-family: 'Galada', cursive;
    font-size: 40px;
    text-transform: lowercase;
}

/*****Locations*****/

.updates h1 {
  color: #77a466;
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  padding: 10px 10px;
  text-transform: uppercase;
  margin-left: 20px;
}

.updates p {
  font-size: 50px;
  font-family: 'Galada';
  text-align: center;
  margin: 50px 50px;
}

#locations {
    text-align: center;
}

#locations h3 {
    font-size:  50px;
    line-height: 32px;
    margin-top: 100px;
}
#locations p {
    font-family:'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 40px;
}

/***** ABOUT *****/
.about-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-one h2 {
  font-size: 4rem;
}

.about-one img{
  width: 600px;
}

.about-two p {
  font-size: 50px;
  padding: 20px 50px;
  text-align: center;
}

@media only screen and (min-width: 1200px) {

header h1 {
  font-size: 30px;
}

nav ul li a {
  font-size: 14px;
  line-height: 23px;
  padding-right: 40px;
}

.top-section h2 {
  font-size: 18px;
  line-height: 23px;
  margin: 40px 20px;
}

.top-section p {
    line-height: 25px;
    font-size: 16px;
    margin: 40px 20px;
}

h3 {
  font-size: 12px;
  line-height: 25px;
}

#menu li {
  font-size: 16px;
  line-height: 18px;
}

#reviews, #contact {
  font-size: 16px;
  line-height: 21px;
  margin: 0px;
}

.bottom-wrap {
  display: flex;
}

footer h2 {
    font-size: 16px;
    line-height: 23px;
}

footer h2 span {
    font-size: 16px;

}

.section-one, .section-two, .section-three {
  width: 450px;
  padding: 30px;
}

#menu li {
  margin: 0px;
  padding-bottom: 20px;
}



/****About****/
.about-one h1 {
  padding-top: 100px;
  padding-left: 100px;
}
.about-one img{
  width: 300px;
  padding-top: 80px;
  padding-left: 100px;
}
}
